<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
            ,
            initial-scale="1.0"
        />
        <title>회원정보수정</title>
        <link
            rel="stylesheet"
            href="/2-mona-yim-community-fe/styles/edit_password.css"
        />
    </head>
    <body>
        <div class="background"></div>
        <div class="wrap">
            <div class="header">
                <div class="title">아무 말 대잔치</div>
                <img
                    class="profile"
                    src="/2-mona-yim-community-fe/assets/profile_image.jpg"
                />
                <div class="drop-down"></div>
            </div>
            <h2 class="login">비밀번호 수정</h2>
            <article>
                <div class="login-input">
                    <label for="password">비밀번호</label>
                    <input
                        type="password"
                        name="pw"
                        id="pw"
                        placeholder="비밀번호를 입력하세요"
                    />
                    <p class="helper-text">*helper text</p>
                </div>
                <div class="login-input">
                    <label for="password">비밀번호 확인</label>
                    <input
                        type="password"
                        name="pwcheck"
                        id="pwcheck"
                        placeholder="비밀번호를 한번 더 입력하세요"
                    />
                    <p class="helper-text">*helper text</p>
                </div>
                <div class="buttons">
                    <button id="signin">수정하기</button>
                </div>
            </article>
        </div>
    </body>
</html>
