<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
            ,
            initial-scale="1.0"
        />
        <title>게시글 추가</title>
        <link rel="stylesheet" href="/styles/make_post.css" />
    </head>
    <body>
        <div class="background"></div>
        <div class="wrap">
            <div class="header">
                <img class="back" src="/assets/back_arrow.png" />
                <div class="title">찍찍쥐구멍</div>
                <img id="profile-photo" class="profile" />
            </div>
            <div id="dropdown" class="dropdown"></div>
            <h2 class="login">게시글 작성</h2>
            <div class="login-input">
                <label for="subject">제목*</label>
                <input
                    type="text"
                    id="subject"
                    placeholder="제목을 입력해주세요. (최대 26글자)"
                    maxlength="26"
                />
            </div>
            <div class="login-input">
                <label for="content">내용*</label>
                <textarea
                    id="content"
                    placeholder="내용을 입력해주세요."
                ></textarea>
                <p id="helper-submit" class="helper-text"></p>
            </div>
            <div class="login-input">
                <label for="content">이미지</label>
                <input
                    type="file"
                    name="postImage"
                    id="post_image"
                    accept="image/*"
                />
            </div>
            <div class="buttons">
                <button id="submit">완료</button>
            </div>
        </div>
        <script type="module" src="/js/make_post.js"></script>
    </body>
</html>
