<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
            ,
            initial-scale="1.0"
        />
        <title>게시글 목록 조회</title>
        <link rel="stylesheet" href="/styles/posts.css" />
    </head>
    <body>
        <div class="background"></div>
        <div class="wrap">
            <div class="header">
                <div class="title">찍찍쥐구멍</div>
                <img id="profile-photo" class="profile" />
            </div>

            <div class="body">
                <div class="announcement">
                    <b>🐭✨ 찍찍! ✨🐭</b> <br />
                    여기서 비밀이 🌬️ <b>새어나가는 순간, </b><br />
                    넌 그냥 🐀<b>쥐새끼야.</b>
                </div>
                <div class="button-container">
                    <button id="create">✨비밀 작성✨</button>
                </div>
                <div id="posts-container"></div>
            </div>
        </div>
        <script type="module" src="/js/posts.js"></script>
    </body>
</html>
