<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
            ,
            initial-scale="1.0"
        />
        <title>회원가입</title>
        <link
            rel="stylesheet"
            href="/2-mona-yim-community-fe/styles/signin.css"
        />
    </head>
    <body>
        <div class="background"></div>
        <div class="wrap">
            <div class="header">
                <div class="title">아무 말 대잔치</div>
                <a href="/2-mona-yim-community-fe/templates/login.html">
                    <img
                        class="back"
                        src="/2-mona-yim-community-fe/assets/back_arrow.png"
                    />
                </a>
            </div>
            <hr class="horizontal-rule" />
            <h2 class="login">회원가입</h2>
            <article>
                <div class="login-input">
                    <label for="profile">프로필 사진</label>
                    <p id="helper-profile" class="helper-text">
                        *프로필 사진을 추가해주세요.
                    </p>
                    <div class="circle">
                        <input type="file" id="profile" accept="image/*" />
                        <span class="plus-sign">+</span>
                    </div>
                </div>
                <div class="login-input">
                    <label for="id">이메일</label>
                    <input
                        type="email"
                        name="id"
                        id="id"
                        placeholder="이메일을 입력하세요"
                    />
                    <p id="helper-id" class="helper-text"></p>
                </div>
                <div class="login-input">
                    <label for="password">비밀번호</label>
                    <input
                        type="password"
                        name="pw"
                        id="pw"
                        placeholder="비밀번호를 입력하세요"
                    />
                    <p id="helper-pw" class="helper-text"></p>
                </div>
                <div class="login-input">
                    <label for="password">비밀번호 확인</label>
                    <input
                        type="password"
                        name="pwcheck"
                        id="pwcheck"
                        placeholder="비밀번호를 한번 더 입력하세요"
                    />
                    <p id="helper-pwcheck" class="helper-text"></p>
                </div>
                <div class="login-input">
                    <label for="text">닉네임</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="닉네임을 입력해 주세요"
                    />
                    <p id="helper-username" class="helper-text"></p>
                </div>
                <div class="buttons">
                    <button id="signin">회원 가입</button>
                    <a href="login.html">로그인 하러가기</a>
                </div>
            </article>
        </div>
        <script
            type="module"
            src="/2-mona-yim-community-fe/js/signin.js"
        ></script>
    </body>
</html>
