body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f7;
    margin: 0;
}

article {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
}

.dropdown {
    display: none;
    position: absolute;
    width: 115px;
    top: 70px;
    right: 37vw;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    background-color: #d9d9d9;
    z-index: 10;
}

.dropdown p {
    padding: 12px 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 12px;
}

.background {
    width: 100%;
    height: 100%;
}

.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 30.83vw; /* 가로 최대 너비 제한 */
    height: 100vh; /* 화면 세로 전체를 채움 */
    background-color: #f4f5f7;
}

.header {
    width: 100%;
    height: 9.63vh;
    display: grid;
    grid-template-areas: 'left title right';
    grid-template-columns: 193fr 206fr 193fr;
    align-items: center;
    justify-content: center;
}

.header .title {
    grid-area: title;
    text-align: center;
    font-size: 2.9vh;
    font-weight: 400;
}

.header .profile {
    width: 36px;
    height: 36px;
    grid-area: right;
    border-radius: 50%;
    justify-self: end;
    margin-right: 2.3vw;
}

.header .back {
    width: 36px;
    height: 36px;
    grid-area: left;
    border-radius: 50%;
    margin-left: 2.3vw;
}

.horizontal-rule {
    position: absolute;
    top: 9.63vh;
    width: 100vw;
    height: 1px;
    border: 0;
    background-color: #000000;
}

.login {
    margin-top: 2.3vh;
    margin-bottom: 4.89vh;
    text-align: center;
}

.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 1.54vh;
    font-weight: 700;
    margin-bottom: 1.05vh;
}

.login-input input[type='file'] {
    border: none;
    padding: 0;
}

.login-input input {
    padding: 1.92vh 1.25vw;
    font-size: 14px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #000000;
}

.login-input textarea {
    padding: 2.3vh 0.68vw;
    height: 26.78vh;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #000000;
}

.helper-text {
    font-size: 12px;
    color: red;
    margin: 0;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.5vh;
}

.buttons button {
    background-color: #aca0eb;
    width: 80%;
    font-weight: 700;
    color: #ffffff;
    height: 33px;
    border: none;
    border-radius: 4px;
}
