body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f7;
    margin: 0;
}

article {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
}

.dropdown {
    display: none;
    position: absolute;
    width: 115px;
    top: 70px;
    right: 37vw;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    background-color: #d9d9d9;
    z-index: 10;
}

.dropdown p {
    padding: 12px 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 12px;
}

.background {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 30.83vw; /* 가로 최대 너비 제한 */
    height: 100vh; /* 화면 세로 전체를 채움 */
    background-color: #f4f5f7;
}

.header {
    width: 100%;
    height: 9.63vh;
    display: grid;
    grid-template-areas: 'left title right';
    grid-template-columns: 193fr 206fr 193fr;
    align-items: center;
    justify-content: center;
}

.header .title {
    grid-area: title;
    text-align: center;
    font-size: 2.96vh;
    font-weight: 400;
}

.header img {
    width: 36px;
    height: 36px;
    grid-area: right;
    border-radius: 50%;
    justify-self: end;
    margin-right: 2.3vw;
}

.horizontal-rule {
    position: absolute;
    top: 9.63vh;
    width: 100vw;
    height: 1px;
    border: 0;
    background-color: #000000;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.body .announcement {
    margin-top: 3.84vh;
    font-size: 24px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 3.55vh;
}

.button-container button {
    background-color: #aca0eb;
    width: 100px;
    font-weight: 700;
    color: #ffffff;
    height: 33px;
    border: none;
    border-radius: 20px;
    margin-left: auto;
}

#posts-container {
    width: 100%; /* wrap의 width에 맞추기 */
    max-width: 30.83vw; /* wrap의 max-width와 일치시킴 */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    row-gap: 0.77vh;
}

.post-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    margin-bottom: 8px;
}

.post-container h2 {
    margin-top: 1.73vh;
    margin-bottom: 0.96vh;
    padding-left: 2vw;
    width: 26ch;
    overflow: hidden;
    white-space: nowrap;
}

.post-container .info {
    margin: 0;
    display: grid;
    font-size: 10px;
    padding: 0 2vw;
    grid-template-areas: 'likes comments views time';
    grid-template-columns: 58fr 58fr 58fr 370fr;
}

.info .likes {
    grid-area: likes;
    text-align: center;
    margin: 0;
}

.info .comments {
    grid-area: comments;
    text-align: center;
    margin: 0;
}

.info .views {
    grid-area: views;
    text-align: center;
    margin: 0;
}

.info .time {
    grid-area: time;
    text-align: right;
    margin: 0;
}

.writer {
    display: grid;
    grid-template-areas: 'profile name';
    grid-template-columns: 70fr 522fr;
    column-gap: 0.96vw;
    font-size: 14px;
    margin: 0 2vw;
}

.writer img {
    width: 36px;
    height: 36px;
    grid-area: profile;
    border-radius: 50%;
    place-self: center;
}
