body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f7;
    margin: 0;
}

article {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/2-mona-yim-community-fe/assets/background.png'); /* 배경 이미지 경로 */
    background-size: cover; /* 화면 전체에 꽉 채움 */
    background-position: center;
    z-index: -1; /* 배경을 뒤로 보냄 */
}

.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px; /* 가로 최대 너비 제한 */
    height: 100vh; /* 화면 세로 전체를 채움 */
    background-color: #f4f5f7;
    padding-bottom: 450px;
}

.header {
    width: 100%;
    height: 9.63vh;
    display: grid;
    grid-template-areas: 'left title right';
    grid-template-columns: 52px 1fr 52px;
    border-bottom: 1px solid #000000;
    align-items: center;
    justify-content: center;
    padding: 28px 0px;
}

.header .title {
    grid-area: title;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.header .profile {
    width: 36px;
    height: 36px;
    grid-area: right;
    border-radius: 50%;
}

.header .back {
    width: 36px;
    height: 36px;
    grid-area: left;
    border-radius: 50%;
}

.title {
    flex-direction: column;
}

.info {
    display: grid;
    grid-template-areas: 'profile author time empty modify delete';
    column-gap: 4px;
    grid-template-columns: 1fr 3fr 5fr 1fr 1.5fr 1.5fr;
    font-size: 14px;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.info .profile {
    width: 36px;
    height: 36px;
    grid-area: profile;
    border-radius: 50%;
}

.info .modify {
    grid-area: modify;
}

.info .delete {
    grid-area: delete;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 6px 12px 6px;
    row-gap: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.contents img {
    width: 95%;
}

.contents p {
    width: 95%;
    font-size: 12px;
}

.post-data {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    width: 100%;
}

.post-data p {
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    white-space: nowrap;
    padding: 6px 0px;
    width: 20%;
}

.comments-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin: 8px 0px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.comments-wrapper textarea {
    width: 100%;
    resize: none;
    border: none;
    height: 100%;
}

.comments-wrapper div {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.comment-upload {
    background-color: #aca0eb;
    width: 100px;
    font-weight: 700;
    color: #ffffff;
    height: 33px;
    border: none;
    border-radius: 20px;
    margin-left: auto;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment-info {
    display: grid;
    grid-template-areas: 'profile author time empty modify delete';
    column-gap: 4px;
    grid-template-columns: 1fr 3fr 5fr 1fr 1.5fr 1.5fr;
    font-size: 14px;
    align-items: center;
}

.comment-info .profile {
    width: 36px;
    height: 36px;
    grid-area: profile;
    border-radius: 50%;
}

.comment-info .modify {
    grid-area: modify;
}

.comment-info .delete {
    grid-area: delete;
}

.comment {
    display: grid;
    grid-template-areas: 'empty comment';
    grid-template-columns: 1fr 12fr;
}

.comment p {
    grid-area: comment;
}
